body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
#content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar principal anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
header {
  display: flex;
  align-items: center; /* alinha verticalmente */
  gap: 10px; /* espaço entre os itens */
  margin-left: 10px;
  margin-top: 10px;
}
footer {
    min-height: 60px;
    
    color: rgb(77,77,77);
    
    /* centralização real */
    display: flex;
    justify-content: center;   /* horizontal */
    align-items: center;       /* vertical */
    text-align: center;        /* múltiplas linhas */);

}
p {
    text-align:justify
}
#sidebar {
    grid-area:sidebar;
    border-right: solid 1px #cdcdcd;
    border-radius: 10px;
    padding-right: 15px;
}
#principal {
    grid-area: principal;
    text-align:center;
}
#anchors {
    grid-area: anchors;
    border-left: solid 1px #cdcdcd;
    border-radius: 10px;
    padding-left: 15px;
}
figure {
    text-align: center;
}

#logo {
  text-align: left; /* alinha conteúdo dentro do figure à esquerda */
  margin:0;
}
#wikipedia {
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
}